{% extends 'memecommerce/base.html' %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div id="about">
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">
					<div id="login-box" class="col-md-12">
							<h3 class="text-center text-info">About</h3>
							<div class = "loginboxes">
								<div class="fieldWrapper">
									<p>Meme commerce is a website - as the name denotes - to buy and sell memes. Do you have a sick meme that you made? Or want to buy some sick memes for yourself? Browse through our collection of memes, listed by the users, for the users! </p>	
								</div>
							</div>	
						</form>	
					</div>	
				</div>	
			</div>	
		</div>
	</div>

{% endblock %}




