{% extends 'memecommerce/base.html' %}
{% load static %}


{% block title_block %} 
    My Account
{% endblock %} 

{% block body_block %} 
    <h2 class="accounttitle">My Account</h2>
    <div class="container">
        <div class="row">
                <div class="caption">
                    <h5>Your Account Information</h5>
                    <p>{{ user.username }}</p>
                    <!--<p>{{ myaccount.password }}</p>-->
                    <p>{{ user.email }}</p>
                    <!--<p>{{ myaccount.purchased_memes }}</p>-->
                </div>
        </div>
    </div>

{% endblock %}