{% extends 'memecommerce/base.html' %}
{% load static %}


{% block title_block %} 
    My Account
{% endblock %} 

{% block body_block %} 
    <div id="myaccount">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                            <h3 class="text-center text-info">My Account</h3>
							<div class = "accboxes">
								<p>Username: {{ user.username }}</p>
								<p>Email: {{ user.email }}</p>
								<!--<p>{{ myaccount.purchased_memes }}</p>-->
							</div>
							<br>
							<div style="text-align:center">

							<a class ="button" href="{% url 'memecommerce:editAccount' %}" class="text-info">Edit Account</a>
							<a href="{% url 'memecommerce:editAccount' %}" class="button">Edit Account</a>
                            <a href="{% url 'memecommerce:deleteAccount' %}" class="button">Delete Account</a>
							<input type="submit" name="submit" class="button" value="Purchased Memes">
							<input type="submit" name="submit" class="button" value="Listed Memes">
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>

{% endblock %}



	