<!DOCTYPE html>
{% load static %}


<!-- <link rel="stylesheet" href="{% static 'js/main.js' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<html>
	<head lang="en"s>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <link rel="preconnect" href="https://fonts.gstatic.com">
	  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
	  <!-- <script src={% static 'main.js' %} defer></script> -->
	  
	  <title>
		MemeC - 
		{% block title_block %}		
		{% endblock %}
	  </title>  
	  <div>				
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href= "{% url 'memecommerce:home' %}">Meme-Commerce</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:sellMeme' %}">Sell</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:home' %}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:about' %}">About</a></li>
					{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Hi {{ user.username }}!
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" href="{% url 'memecommerce:account' %}">My Account</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" href="{% url 'memecommerce:logout' %}">Log Out</a>
							</div>
						 </li>
                        <li class="nav-item"></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:login' %}">Login</a></li>
                    {% endif %}
				</ul>
			</div>			
		</nav>		
	   </div>	
	</head>  

	
	  
	
	<body>		
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
	</body>

</html>