<!DOCTYPE html>
{% load staticfiles %}
<html>
    <body>
        <!--the following is for javascript (just leave it at the bottom)-->
        <!--just playing around with it atm. Comes into use when html pages have been-->        
        <!--created and functionality can be added to them with javascript (button clicks etc)-->        
        <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/memecommerce-query.js" %}" crossorigin="anonymous"></script>
    </body>
</html>