{% extends 'memecommerce/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 


{% block title_block %}
 Home
{% endblock %}


{% block body_block %}
<!-- <div id="posts-box"></div>
<div id="spinner-box" class="not-visible">
  <div class="spinner-border text-primary" role="status"></div>
</div>
<div id="loading-box">
  <button class="btn btn-primary" id="load-btn">Load more</button>
</div> -->
<div class="container">
  <div class="row">
	{% for meme in meme_list %}
		<div class="col-sm-4">	
			<div class="thumbnail">
				<img src="{{ meme.image.name }}" alt="{{ meme.title }}">
				<div class="caption">					
					<h5>{{ meme.title }}</h5>
					<p>£{{ meme.price }}</p>
				</div>	
			</div>	
		</div> 
	{% endfor %}	
  </div>
</div>

{% endblock %}