{% extends 'memecommerce/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 


{% block title_block %}
 Home
{% endblock %}


{% block body_block %}
<!-- <div id="posts-box"></div>
<div id="spinner-box" class="not-visible">
  <div class="spinner-border text-primary" role="status"></div>
</div>
<div id="loading-box">
  <button class="btn btn-primary" id="load-btn">Load more</button>
</div> -->
<div class="container">
  <div class="row display-flex">
	{% for meme in meme_list %}
		<div class="col-sm-3 col-xs-12">	
			<div class="thumbnail">
				<a href="{% url 'memecommerce:viewMeme' meme_id=meme.meme_id %}">
					<img src="{{ meme.image.url }}" alt="{{ meme.title }}">
				</a>	
				<div class="caption">					
					<h3>{{ meme.title }}</h3>
					<p>£{{ meme.price }}</p>
					<p>By: {{ meme.author }}</p>
				</div>	
			</div>	
		</div> 
	{% endfor %}	
  </div>
</div>

{% endblock %}