{% extends 'memecommerce/base.html' %}
{% load static %}

{% block title_block %} 
    My Purchases 
{% endblock %} 

{% block body_block %} 
    <div class="container">
        <a class ="button" href="{% url 'memecommerce:account' %}">Back to Account</a>
        <form method="POST">
            {% csrf_token %}
            <div class="row display-flex">
                <h3 class="container">My Purchases</h3>
                    {% if user_purchased_memes %}
                        {% for meme in user_purchased_memes %} 
                        <div class="col-sm-3 col-xs-12">	
                            <div class="thumbnail">
                                    <img src="{{ meme.image.url }}" alt="{{ meme.title }}">
                                </a>	
                                <div class="caption">					
                                    <h3>{{ meme.title }}</h3>
                                    <p>£{{ meme.price }}</p>									
									<a href="{{ meme.image.url }}" download>Download</a>
                                </div>	
                            </div>	
                        </div>
						{% endfor %} 
					{% else %}
						<h3>You haven't purchased any memes.</h3>
					{% endif %}    
            </div>
        </form>
    </div>
{% endblock %}