<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Meme-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
	  {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi {user.username}!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="#">My Account</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'memecommerce:logout' %}">Log Out</a>
        </div>
      </li>
	  {% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>








<div>				
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href= "{% url 'memecommerce:home' %}">Meme-Commerce</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:home' %}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:about' %}">About</a></li>
					{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Hi {{ user.username }}!
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" href="#">My Account</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" href="{% url 'memecommerce:logout' %}">Log Out</a>
							</div>
						 </li>
                        <li class="nav-item"></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'memecommerce:login' %}">Login</a></li>
                    {% endif %}
				</ul>
			</div>			
		</nav>		
	   </div>