{% extends 'memecommerce/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block title_block %}
    View Meme
{% endblock %}


{% block body_block %}
	<div class="container border rounded-lg">
		{% csrf_token %}
		<h2 class="center-fit">{{ meme.title }} £{{ meme.price }}</h2>		
		<img  class="center-fit pull-left viewimg" src="{{ meme.image.url }}" alt="{{ meme.title }}">
		<br >
		<div class="imagetext border">
			<h2 class="center-fit">{{ meme.description }}</h2>
			<input style="float:right" type="submit" name="submit" class="button" value="Buy Now">
		</div>
	</div>	
{% endblock %}